<section id="about">
  <div class="about-block">
    <div><img class="item-image" alt="LC" src="/resources/about/LC.jpg" /><p style="text-align:center;">photo credits: ©Joana B.H. Almeida</p></div>
    
    <div>
      <p>Liliana Carvalho is a Portuguese architect and Sound Artist.
      <p>During her Diploma in Architecture she had the opportunity to study and work in Poland, Germany, Portugal and UK, specifically London, where she is currently based. </p>
      <p>While partaking in her architectural studies, she was also involved with ru( as radio technician and broadcaster, where she discovered the active scene of electronic music, and gained her first hands-on experience in sound. She soon became increasingly connected, appearing as guest DJ or manager for events promoted by Portuguese techno labe Soniculture; and was later involved with the production of Forte Festival ed.2014.</p>
      <p>The co-founding and co-managing of the early stages of SonicLab served as a milestone for her in regards to forthcoming experimental projects with sound, commencing with the installation XNX [premiered at Semibreve Festival '14] and additionally with the research project Sensorium.</p>
      <p>Eager to break <i>new ground</i> in Architecture she relocated to London in 2015, where alongside her employment as a practicing architect, she also began to study the practice of <i>Sound Art</i></p> 
      <p>These explorations were not only crucially influential in forming her artistic perspective, but also an important motivation in making her determined to illustrate the inherent possible qualities that exist in the relationship between Sound and Space. </p> 
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>approach</h1>
    </div>

    <div>
      <p>Interested in developing strategies or systems that combine her architectural knowledge with a sonic experience: exploring responsive and critical design that draws strongly from Space to Sound or/and <i>vice-versa</i>.</p>

      <p>How can Architecture compose and mediate a sonic awareness? How can Sound Art shape and orchestrate a spatial idea?</p>
      <p>By intertwining theory, research and practice on both fields of study with an aural and phenomenological approach, her works result in an interchangeable synergy between Sound and Space.</p>

      <p>Due to the cross-pollination nature of the production process, she finds collaboration projects paramount tools for investigation, learning and creation. The resulting reflections have been shaped in sound compositions, installations, performances, structures and systems.</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>bio</h1>
    </div>

    <div>
      <p class="p-resume"><span class="date-resume" class="date-resume">2018-current</span>sound artist. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2017-current</span>architect [eq. part 3] @ kwa. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2017-2018</span>study sound art. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2016</span>architect [part 2] @ studio seilern. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2015</span>freelancer architect @ ma. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2013-2015</span>architect @ aapb arq. coimbra [PT]</p>

      <p class="p-resume"><span class="date-resume">2012-2014</span>co-founder and creative project manager @ soniclab collective. porto [PT]</p>

      <p class="p-resume"><span class="date-resume">2010-2012</span>architect [part 2] @ rdlm arq. porto [PT]</p>

      <p class="p-resume"><span class="date-resume">2009-2015</span>radio broadcaster @ ru(. coimbra [PT]</p>

      <p class="p-resume"><span class="date-resume">2009-2010</span>architect [part 1] @ modular arq. coimbra [PT]</p>

      <p class="p-resume"><span class="date-resume">2009</span>internee @ studio ozone studio arch. wroclaw [PL]</p>

      <p class="p-resume"><span class="date-resume">2006-2009</span>sound technician @ ru(. coimbra [PT]</p>

      <p class="p-resume"><span class="date-resume">2004-2005</span>international study program. aachen [DE]</p>

      <p class="p-resume"><span class="date-resume">2002-2009</span>study architecture. coimbra [PT]</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>awards</h1>
      <h1>releases</h1>
      <h1>lectures</h1>
      <h1>articles</h1>
    </div>

    <div>
      <p class="p-resume"><span class="date-resume">2019</span>ep realease [field recording] <a class="link" href="https://sonospace.bandcamp.com/album/para-ti" target="_blank">Para-ti</a> @ sonospace label</p>

      <p class="p-resume"><span class="date-resume">2019</span>selected sound artist @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">Field Kitchen Academy</a> art residency. berlin [DE]</p>

      <p class="p-resume"><span class="date-resume">2019</span>FROM|FORM. collaboration w/ sound artist Luke Dobbin @ Shortlisted Project in Drift 0,3. manchester [UK]</p>

      <p class="p-resume"><span class="date-resume">2019</span>SONUSCAPE. guest lecturer for project presentation @ sonic art forum, huddersfield university [UK]</p>

      <p class="p-resume"><span class="date-resume">2018</span>SONUSCAPE. shortlisted and premiered project @ morley gallery. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2016</span>STRATUM. selected and premiered project @ morley gallery. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2014</span>XNX. selected and premiered project @ semibreve festival. braga [PT]</p>

      <p class="p-resume"><span class="date-resume">2010</span>invitation for public presentation of article <i>plugged</i> @ symposium <a class="link" href="https://www.uc.pt/fctuc/noticias/2010/n20100223n04" target="_blank">women in architecture</a> in coimbra's science museum [PT]</p>

      <p class="p-resume"><span class="date-resume">2007</span>architectural work exhibit @ <a class="link" href="https://www.construir.pt/2007/12/12/arquitectos-criam-coimbra-utpica/" target="_blank">utopian riversides of mondego - living water</a> @ museum of water. coimbra [PT]</p>

      <p class="p-resume"><span class="date-resume">2004</span>selected final year project [1st year graduation] @ architecture exhibition - TAPE2004. coimbra [PT]</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>SOLO EXHIBITIONS <span class="selection">SELECTION</span></h1>
    </div>

   <div>
      <p class="p-resume"><span class="date-resume">2020</span>SONUSCAPE. featured in future architecture <a class="link" href="http://futurearchitectureplatform.org/projects/0f0a46c9-ad2b-4a52-8302-dcd6eeb9d6e5/?fbclid=IwAR2T41S0Dg_ZfbfZ5a5LnW0OeAJp51iICIp8eWQzvdwhzRrWe3gKihZWbfE" target="_blank">platform</a></p>

      <p class="p-resume"><span class="date-resume">2019</span>DOF. pt.1 premiered and performed @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">FKA</a>. berlin [DE]</p>

      <p class="p-resume"><span class="date-resume">2018</span>SONUSCAPE. premiered @ morley gallery. london [UK]</p>

      <p class="p-resume"><span class="date-resume">2018</span>liquidum and ad.am sonic works premiered @ morley gallery. london [UK]</p>
    </div>
  </div>

   <div class="about-block">
    <div>
      <h1>COLLABORATION EXHIB. <span class="selection">SELECTION</span></h1>
    </div>

    <div>
      <p class="p-resume"><span class="date-resume">2019</span>MEMORY SWING. premiered @ FKA>. berlin [DE]</p>

      <p class="p-resume"><span class="date-resume">2019</span>THE ROCK BAND. performed @ FKA. berlin [DE]</p>

      <p class="p-resume"><span class="date-resume">2019</span>LIQUID THRESHOLD#1. premiered @ FKA. berlin [DE]</p>

      <p class="p-resume"><span class="date-resume">2017</span>STRATUM. premiered @ morley gallery. london [UK] in collaboration with <a class="link" href="https://soundcloud.com/ruido?fbclid=IwAR2x5I6PE7_0DO8sBf7ExH2KFTGHuksjDgwxWUojaZGBTg6jI4yg505Ow8M" target="_blank">ruido</a></p>

      <p class="p-resume"><span class="date-resume">2014</span>XNX. premiered @ festival semibreve 2014. braga [PT] in collaboration with <a class="link" href="https://www.facebook.com/xnx.music/" target="_blank">xnx</a></p>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
