<section id="about">
  <div class="about-block">
    <div><img class="item-image" alt="lc" src="/resources/about/lc.jpg" width="100%" height="auto"/></div>

    <div>
      <p>Liliana Carvalho is a Portuguese architect and Sound Artist.
      <p> Her Diploma in Architecture got her to study and work in Poland, Portugal, Germany and UK, where she is currently based [London]. </p> 
      <p>Whilst studying she collaborated for Ru( as radio technician and broadcaster, which became her first hands-on experience with electronic music. It didn't took her to long to start as guest DJ and manage events with the Portuguese techno promoter and label Soniculture; also engaging later on with the production of Forte Festival ed.2014. </p>
      <p>The co-founding and co-managing of SonicLab’s early stages was the milestone for forthcoming sonic experimental projects, starting with XNX installation premiered at Semibreve Festival '14.</p> 
      <p>Exploring for <i>new grounds</i> Architecture she moved to London, where she decided to also study Sound Art. This was not only crucial and influential on her sonic work, but also a determinant step for her inherent expression of continuous reciprocity on Sound and Space narrative.</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>approach</h1>
    </div>

    <div>
      <p>I am interested in developing strategies or systems that combine my architectural knowledge with a sonic experience: exploring responsive and critical design that draws strongly from Space to Sound and vice-versa.</p>

      <p>How can Architecture compose and mediate a sonic awareness? How can Sound Art shape and orchestrate a spatial idea?</p>
      <p>By intertwining theory, research and practice on both these fields with an aural and phenomenological approach, my works result in a continuous expression of this reciprocity narrative of Sound and Space.</p>

      <p>Due to the cross-pollination nature of the production process I believe collaboration projects work as an essential tool of investigation, learning and creation. The resulting reflections have been shaped in sound compositions, installations, performances, structures and systems.</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>bio</h1>
    </div>

    <div>
        <p class="p-resume"><span class="date-resume" class="date-resume">2018-current</span>sound artist. london, uk</p>

        <p class="p-resume"><span class="date-resume">2017-current</span>architect @ kwa. london, uk</p>

        <p class="p-resume"><span class="date-resume">2017-2018</span>study sound art. london, uk</p>

        <p class="p-resume"><span class="date-resume">2016</span>architect [part 2] @ studio seilern. london, uk</p>

        <p class="p-resume"><span class="date-resume">2015</span>freelancer architect @ ma. london, uk</p>

        <p class="p-resume"><span class="date-resume">2013-2015</span>architect @ aapb arq. coimbra, portugal</p>

        <p class="p-resume"><span class="date-resume">2012-2014</span>co-founder and creative project designer @ soniclab collective. porto, portugal</p>

        <p class="p-resume"><span class="date-resume">2010-2012</span>architect [part 2] @ rdlm arq. porto, portugal</p>

        <p class="p-resume"><span class="date-resume">2009-2015</span>radio broadcaster @ ru(. coimbra, portugal</p>

        <p class="p-resume"><span class="date-resume">2009-2010</span>architect [part 1] @ modular arq. coimbra, portugal</p>

        <p class="p-resume"><span class="date-resume">2009</span>internee @ studio ozone studio arch. wroclaw, poland</p>

        <p class="p-resume"><span class="date-resume">2006-2009</span>sound technician @ ru(. coimbra, portugal</p>

        <p class="p-resume"><span class="date-resume">2004-2005</span>international study program. aachen, germany</p>

        <p class="p-resume"><span class="date-resume">2002-2009</span>study architecture. coimbra, portugal</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>awards</h1>
      <h1>releases</h1>
      <h1>lectures</h1>
    </div>

    <div>
        <p class="p-resume"><span class="date-resume">2019</span>Selected Field Recording EP ‘Para-ti’ released in Sono Space Record Label @ <a class="link" href="https://sonospace.bandcamp.com/album/para-ti" target="_blank">SonoSpace bandcamp</a></p>

        <p class="p-resume"><span class="date-resume">2019</span>Selected Sound Artist @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">Field Kitchen Academy art residency, Berlin [DE]</a></p>

        <p class="p-resume"><span class="date-resume">2019</span>SOUND FROM FORM - collaboration with sound artist Luke Dobbin @ Shortlisted Project in Drift, Manchester [UK]</p>

        <p class="p-resume"><span class="date-resume">2019</span>SONUSCAPE Sound Art guest lecturer for Project Presentation @ Sonic art Forum, Huddersfield University [UK]</p>

        <p class="p-resume"><span class="date-resume">2018</span>SONUSCAPE Sound Art Project Shortlisted and Premiered @ Morley Gallery, London [UK]</p>

        <p class="p-resume"><span class="date-resume">2016</span>STRATUM Sound Art Installation @ Shortlisted and Premiered @ Morley Gallery, London [UK]</p>

        <p class="p-resume"><span class="date-resume">2014</span>XNX a/v installation @ Shortlisted and Premiered @ Semibreve Festival, Braga [PT]</p>

        <p class="p-resume"><span class="date-resume">2010</span>invitation for public presentation of “Plugged” @ Symposium “Women in Architecture”(PT) Alongside of Helena Roseta, Jorge Figueira, Paulo Varela Gomes, Ana Tostões and Virginia Ferreira.</p>

        <p class="p-resume"><span class="date-resume">2007</span>Architectural work exhibit @ “Utopian Margins of Mondego - Living Water” @ Museum of Water, Coimbra [PT]</p>

        <p class="p-resume"><span class="date-resume">2004</span>Final Project (1st year graduation) @ Architecture Exhibition “TAPE2004”</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>SOLO EXHIBITIONS <span class="selection">SELECTION</span></h1>
    </div>

    <div>
        <p class="p-resume"><span class="date-resume">2020</span>SONUSCAPE featured in Future Architecture <a class="link" href="http://futurearchitectureplatform.org/projects/0f0a46c9-ad2b-4a52-8302-dcd6eeb9d6e5/?fbclid=IwAR2T41S0Dg_ZfbfZ5a5LnW0OeAJp51iICIp8eWQzvdwhzRrWe3gKihZWbfE" target="_blank">Platform</a></p>

        <p class="p-resume"><span class="date-resume">2019</span>DOF RECORDINGS pt.1 premiered and performed @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">FKA</a> [DE]</p>

        <p class="p-resume"><span class="date-resume">2018</span>SONUSCAPE premiered @ in Morley Gallery London</p>

        <p class="p-resume"><span class="date-resume">2018</span>Liquidum and AdAm sonic works premiered @ in Morley Gallery London</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>GROUP EXHIBITIONS <span class="selection">SELECTION</span></h1>
    </div>

    <div>
        <p class="p-resume"><span class="date-resume">2019</span>MEMORY SWING premiered @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">FKA</a> [DE]</p>

        <p class="p-resume"><span class="date-resume">2019</span>THE ROCK BAND performed @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">FKA</a> [DE]</p>

        <p class="p-resume"><span class="date-resume">2019</span>LIQUID THRESHOLD#1 premiered @ <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">FKA</a> [DE]</p>

        <p class="p-resume"><span class="date-resume">2017</span>STRATUM premiered @ in Morley Gallery London [UK] in collaboration with <a class="link" href="https://soundcloud.com/ruido?fbclid=IwAR2x5I6PE7_0DO8sBf7ExH2KFTGHuksjDgwxWUojaZGBTg6jI4yg505Ow8M" target="_blank">Ruido</a></p>

        <p class="p-resume"><span class="date-resume">2014</span>XNX premiered @ Festival Semibreve 2014 [PT] in collaboration with <a class="link" href="https://www.facebook.com/xnx.music/" target="_blank">XNX</a></p>
    </div>
  </div>
</section>
