<section id="installations">
  <div class="installations-block">
    <div class="gallery-item cta" onClick="goTo(this, 'installations/liquidthreshold')">
      <img class="item-image" alt="Liquid Threshold" src="/resources/installations/liquid_threshold01.jpg" />
      <div class="item-title-container"><span class="item-title">liquid threshold</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'installations/memoryswing')">
      <img class="item-image" alt="Memory Swing" src="/resources/installations/memory_swing.jpg" />
      <div class="item-title-container"><span class="item-title">memory swing</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'installations/dof')">
      <img class="item-image" alt="DOF" src="/resources/installations/dof.jpg" />
      <div class="item-title-container"><span class="item-title">dof pt.1</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'installations/stratum')">
      <img class="item-image" alt="Stratum" src="/resources/installations/stratum.jpg" />
      <div class="item-title-container"><span class="item-title">stratum</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'installations/xnx')">
      <img class="item-image" alt="XNX" src="/resources/installations/xnx.jpg" />
      <div class="item-title-container"><span class="item-title">xnx</span></div>
    </div>

    <div class="gallery-item" style="visibility: hidden;margin:0; height: 0">&nbsp;</div>
  </div>
</section>
