<section id="about">
  <div class="about-block">
    <div>
      <h1>website launch</h1>
    </div>

    <div>
      <p>Interested in developing strategies or systems that combine her architectural knowledge with a sonic experience: exploring responsive and critical design that draws strongly from Space to Sound or/and <i>vice-versa</i>.</p>

      <p>How can Architecture compose and mediate a sonic awareness? How can Sound Art shape and orchestrate a spatial idea?</p>
      <p>By intertwining theory, research and practice on both fields of study with an aural and phenomenological approach, her works result in an interchangeable synergy between Sound and Space.</p>

      <p>Due to the cross-pollination nature of the production process, she finds collaboration projects paramount tools for investigation, learning and creation. The resulting reflections have been shaped in sound compositions, installations, performances, structures and systems.</p>
    </div>
  </div>
</section>