<section id="about">

    <div class="about-block">
    <div>
      <h1>30.03.2021 <span class="selection">Sonic Manifesto [excerpt]</span></h1>
    </div>

    <div>
      <strong>A taster of the <i>Sonic Manifesto</i> soon to be added in full version!  </strong>
      <p>It has been quite a while since I last wrote. Nevertheless, I haven't been quiet. </p>
      <p><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1023889213&color=%2300ffdd&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lc-soundspace" title="▲L!▼" target="_blank" style="color: #cccccc; text-decoration: none;">▲L!▼</a> · <a href="https://soundcloud.com/lc-soundspace/sonic-manifesto-excerpt" title="Sonic Manifesto [excerpt]" target="_blank" style="color: #cccccc; text-decoration: none;">Sonic Manifesto [excerpt]</a></div>
    </div>
  </div>
  
  <div class="about-block">
    <div>
      <h1>07.10.2020 <span class="selection">Dis.Quiet release on SCS [LP]</span></h1>
    </div>

    <div>
      <strong>Dis.Quiet track from <i>Space Threshold</i> project has been released!  </strong>
      <p>Field Kitchen Academy art residency created a listening room, which has a series of recordings that act as an audio catalogue and a log book of the residency curated under the title of <i>Silence with the Consent of Sound</i>. </p>
      <p>To each participant and working session leaders was assigned a particular day to make a 90 seconds of recording. Contributions include names such as Peter Cusack, Juliana Hodkinson, Emma Howes, Robert Lippok and Juhani Pallasmaa. Please do have a <a class="link" href="#" onClick="return jumpTo('sound/releases')">listen</a>!</p>
      <p>Curated by <a class="link" href="https://www.ece-pazarbasi.com/" target="_blank">Ece Pazarbasi</a> and mixed by <a class="link" href="http://samfriedland.com/" target="_blank">Sam Friedland</a></p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>05.06.2020 <span class="selection">RadioShow Zona [ep. 2]</span></h1>
    </div>

    <div>
      <strong>The urge for a stronger and healthier cultural sector in Portugal </strong>
      <p>Yesterday the Portuguese artists came to the streets to express their unrest.
      This pandemic crisis came to reveal in a dantesc way the precarious and fragile outlines and conditions this sector has been living under. Long time has passed now, a change must happen. It needs to be re-structure, re-build and re-thought. I join portuguese artists cause with willingness for this change.</p>
      <p>The second episode of Zona is dedicated to the Portuguese sonic scene, gathering few recent examples of their productions. To be <a class="link" href="#" onClick="return jumpTo('sound/radio')">listen</a>, not just heard!</p><p><a class="link" href="https://www.facebook.com/hashtag/unidospelopresenteefuturodaculturaemportugal?__eep__=6&source=feed_text&epa=HASHTAG" target="_blank">#unidospelopresenteefuturodaculturaemportugal</a></p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>04.2020 <span class="selection">collaboration project</span></h1>
    </div>

    <div>
      <strong>From | Form was shortlisted for COCA 2020 </strong>
      <p>Sound Artist <a class="link" href="https://the-dots.com/users/luke-dobbin-363899"  target="_blank">Luke Dobbin</a> and I are thrilled to announced that Sound F | F was shortlisted for <a class="link" href="https://cocaproject.art/coca2020-first-selection/" target="_blank">COCA 2020</a> first phase selection.</p>
    </div>
  </div>

  <!<div class="about-block">
    <div>
      <h1>05/06.2020 <span class="selection">collaboration project</span></h1>
    </div>>

    <!<div>
      <strong>Space Score Series #1</strong>
      <p>Happy to work on a sonic project alongside <a class="link" href="https://www.zeynepaysehatipoglu.com/?fbclid=IwAR2by1ZfNBrSQIv52KWqNamikBfqLwYfPmAKdd2PCtLfi8B6ZSgnNroAWhw"  target="_blank">Zeynep Ayşe Hatipoğlu</a> that will feature SSS #1.</p><p>More info to come soon! Meanwhile you can always take a peek in the <a class="link" href="#" onClick="return jumpTo('sound/audio')">audio</a> page.</p>
    </div>>
  </div>>


  <div class="about-block">
    <div>
      <h1>22.04.2020 @ 09:00 PM CET <span class="selection">RadioShow Zona [ep. 1]</span></h1>
    </div>

    <div>
      <strong>Streaming from the North of Italy <i>Zona</i> on The Psycho-Medical Tapes Radio</strong><p>&nbsp;</p>
      <div><img class="item-image" alt="LC" src="/resources/news/Zona_episode1.jpg" /><p style="text-align:center;"></p>
      </div>
      
      <p>Zona will start its journey with its first broadcast streamig from <a class="link" href="https://spettro.info/"  target="_blank">Spettro</a> in the North of Italy [at <a class="link" href="https://villarec.bandcamp.com/"  target="_blank">Villa</a> Recordings basement]. Alongside the <a class="link" href="https://videoperformer.wixsite.com/re-agir?fbclid=IwAR1vLyC0sWRKU_u6l1IlBdKMD73SSxc4vFkF9rGRAU3zJfHn-RdJJflWCpU"  target="_blank">Re-Agir</a> online artist Platform, this streaming is part of the action on reacting to the latest consequences by Covid-19 virus. The platform aims to gather artists from all around the world to Re-Act with their art as a response to this pandemic state. Please have a read to the <a class="link" href="https://videoperformer.wixsite.com/re-agir/manifesto"  target="_blank">Manifesto</a>.</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>17.04.2020 <span class="selection">website launch</span></h1>
    </div>

    <div>
      <strong>first day online!!!</strong>

      <p>In this difficult pandemic season we are facing now, it has been quite difficult for us to keep focus. I can say that fortunately I was blessed to spent my 14 days quarantine with an amazing software engineer + web developer that orchestrated this website to whom I will be grateful forever - <a class="link" href="https://www.linkedin.com/in/pedrodrferreira/" target="_blank">Pedro Ferreira</a>.</p>

      <p>This website kept us quite busy and I can say that finally I was able to learn new skills for future endeavours on the web world. Please do go and explore <a class="link" href="/">it</a>!</p>
    </div>
  </div>
</section>
