<section id="about">

  <div class="about-block">
    <div>
      <h1>05.2020 <span class="selection">collaboration project</span></h1>
    </div>

    <div>
      <strong>Space Score Series #1</strong>
      <p>Me and <a class="link" href="https://www.zeynepaysehatipoglu.com/?fbclid=IwAR2by1ZfNBrSQIv52KWqNamikBfqLwYfPmAKdd2PCtLfi8B6ZSgnNroAWhw"  target="_blank">Zeynep Ayşe Hatipoğlu</a> will be working in the <i>Phonic Pharol</i> project to feature SSS #1 this month.</p><p>More info to come soon. Meanwhile you can always explore the <a class="link" href="/">audio</a> page. Have a lovely Easter!</p>
    </div>
  </div>

  <div class="about-block">
    <div>
      <h1>10.04.2020 <span class="selection">website launch</span></h1>
    </div>

    <div>
      <strong>first day online!!!</strong>

      <p>In this difficult pandemic season we are facing now, it has been quite difficult for us to keep focus. I can say that fortunately I was blessed to do my 14 days quarantine with an amazing IT consultant web developer that orchestrated this website to whom I will be grateful forever - <a class="link" href="https://www.linkedin.com/in/pedrodrferreira/" target="_blank">Pedro Ferreira</a>.</p>

      <p>This website kept us quite busy and I can say that finally I was able to learn new skills for future endeavours on the web world. Please do go and explore <a class="link" href="/">it</a>!</p>
    </div>
  </div>
</section>
