<section id="releases">
  <div class="about-block">
      <div>
        <iframe style="border: 0; width: 350px; height: 555px;" src="https://bandcamp.com/EmbeddedPlayer/album=2155202645/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://sonospace.bandcamp.com/album/para-ti">Para-Ti by Liliana Carvalho</a></iframe>
      </div>

      <div>
        <h1 style="text-align:right">2019 &bull; para-ti</h1>
        <p style="text-align:right">Sound recordings made whilst visiting Paraty [BR] in 2018. I invited my dear friend artist Catarina Bota Leal to collaborate with me on this work.</p> 
        <p style="text-align:right">Released on the 5th, November 2019 in <a class="link" href="https://sonospace.bandcamp.com/music" target="_blank">Sono Space</a> label. </p>
        <p style="text-align:right">Sonic composition and edition by Liliana Carvalho. </p>  
        <p style="text-align:right">Art cover design and composition by fine artist Catarina Bota Leal.</p>
      </div>
 
</section>
