<section id="installations">
  <div class="installations-block">
    <div class="gallery-item cta" onClick="goTo(this, 'research/sonuscape')">
      <img class="item-image" alt="SONUSCAPE" src="/resources/research/sonuscape.jpg" />
      <div class="item-title-container"><span class="item-title">sonuscape</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'research/sot')">
      <img class="item-image" alt="SONUSCAPE" src="/resources/research/sot.jpg" />
      <div class="item-title-container"><span class="item-title">sound of trees</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'research/sff')">
      <img class="item-image" alt="sound from form" src="/resources/research/sff.jpg" />
      <div class="item-title-container"><span class="item-title">sound from form</span></div>
    </div>

    <div class="gallery-item cta" onClick="goTo(this, 'research/sensorium')">
      <img class="item-image" alt="sensorium" src="/resources/research/sensorium.jpg" />
      <div class="item-title-container"><span class="item-title">sensorium</span></div>
    </div>

    <div class="gallery-item" style="visibility: hidden;margin:0; height: 0">&nbsp;</div>
  </div>
</section>
