<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>SENSORIUM</h1>
    <h2>collaboration project with <a class="link" href="https://anbarportfolio.tumblr.com/?fbclid=IwAR2s4wlI7p-kcoFl2_orGVckAtuoQBdGAW0Qk08E-oogcdbEh0SsnJbXRDU" target="_blank" >André Cruz<a/> and <a class="link" href="https://www.linkedin.com/in/edgar-brito-25405810/?originalSubdomain=pt" target="_blank" >Edgar Brito<a/></h2>
  </div>
  
  <div class="detail-gallery">
    <img class="item-image" alt="sensorium01" src="/resources/sensorium/sensorium01.jpg" width="100%" height="auto"/><p style="text-align:left;">suggestion of project location> Lisbon [PT]</p><p>&nbsp;</p>
  </div>
 
</section>

<section>
  <div class="about-block">
  
  <div>
  <img class="item-image" alt="LC" src="/resources/sensorium/sensorium06.jpg" />
   <p style="text-align:left;">blown perspective</p>
  </div>
    
  <div>
    <strong><h3>CONTEXT</h3></strong>
    <p>&nbsp;</p>
    <p><strong>Why?</strong></p>
    <p>In 2013 a collaboration alongside SonicLab team urged when challenged to develop new ideas and forms of expression to build an architectural structure. The proposal should be able to feature festivals or display itself as a singular piece/space, reflecting a visionary and experimental narrative to promote a new perspective of performance/installation art.</p>
    <p>&nbsp;</p>
    <p><strong>How?</strong></p>
    <p>The project aims to present its visitors with a sensorial experience, empowered by a strong audiovisual component. The design principle demand is to have a dark interior, where it will be employed a 360º visual perspective with surround audio. These were the premises’ for the conception of this structure.</p>
    <p>For this to happen, it is necessary to have a space with its own life that is technically capable to receive both visitors and infrastructural equipment. One of its paramount features was to install it in other contexts too, be them festivals or, for example, urban locations, as well as its possible structural division.</p>
    <p>This project could only be possible with a fitting proficient team and that’s why I invited artist and architect André Cruz and structure engineer expert Edgar Brito.
    <p>The structure rises from a homogenous and cohesive language, where the hybrid composition of its shapes is patent. As the blown perspective shows: the proposal has a sitting and technical area supported by its main metal structure and a facade finishing compact panelling system. To sum up, its design follows its functionality and distinct demands whilst its main structure allows its potential and panelling fitting system.</p>
  </div>
  </div>
</section>
<section>
  <div class="about-block">
  
  <div>
  <img class="item-image" alt="LC" src="/resources/sensorium/sensorium06.jpg" />
   <p style="text-align:left;">blown perspective</p>
  </div>
    
  <div>
    <strong><h3>CONSTRUCTION | PROCESS</h3></strong>
    <p>&nbsp;</p>
    <p>Another important step for the completion and synthesization of all the requirements is its materiality. Considering the project’s sustainable design and its demand on acoustic and light insulation, as well as baring in mind the monolith shape and the panelling system build up we decided to use cork as an exterior facade finish and OSB panels as interior one. Using the new softwares allow the perfect laser-cutting of the pieces required [Rhino+Grasshopper] we are able to understand the usage of material for the proposal as well as its weight and budget/costs.</p>
    <p>By designing this project as an assembly system we assume not only, as already referred,  its environmental footprint but also its financial sustainability. This flexibility allows its [re]construction in different locations to accommodate various sonic shows and comply with the demanding cutting-edge set ups.</p>
    <p>Its circular shape not only appeals a singular gathering area but also exponentiates a complete surround sound system to comply and engage with its visual spherical plasticity. In this way we can create the full immersive sonic experience. It works as an artistic itinerant space on its own.</p>
    <p>The site were the structure will be built should be a consensual decision between the project planning team and the event organization. Its best potential location should take in account the comfort and safety of its users as well as the necessary infrastructures that comply for best quality and usage of this construction and its concerns.</p>
    <p>Sensorium works as a Sensory Apparatus Facility.</p>
  </div>
  </div>
</section>

<section class="installation-detail" id="liquidthreshold">
   <div>
    <h3>Technical details</h3>

    <p>For more information please go <a class="link" href="#" onClick="return jumpTo('contact')">here</a> </p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#" onClick="return jumpTo('space/research')">reasearch</a>
  </div>
</section>



