<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>SENSORIUM</h1>
    <h2>collaboration project engined by <a class="link" href="https://vimeo.com/soniclaboratory" target="_blank">soniclab</a></h2>
  </div>
  
  <div class="detail-gallery">
    <img class="item-image" alt="sensorium01" src="/resources/sensorium/sensorium01.jpg" width="100%" height="auto"/><p style="text-align:left;">suggestion of project location> Lisbon [PT]</p><p>&nbsp;</p>
  </div>
 
</section>

<section>
  <div class="about-block">
  
  <div>
  <img class="item-image" alt="LC" src="/resources/sensorium/sensorium06.jpg" />
   <p style="text-align:left;">blown perspective</p>
  </div>
    
  <div>
    <strong><h3>CONTEXT</h3></strong>
    <p>&nbsp;</p>
    <p><strong>Why?</strong></p>
    <p>In 2013 a collaboration alongside SonicLab team urged when challenged to develop new ideas and forms of expression to build an architectural structure. The proposal should be able to feature festivals or display itself as a singular piece/space, reflecting a visionary and experimental narrative to promote a new perspective of performance/installation art.</p>
    <p>&nbsp;</p>
    <p><strong>How?</strong></p>
    <p>The project aims to present its visitors with a sensorial experience, empowered by a strong audiovisual component. The design principle demand is to have a dark interior, where it will be employed a 360º visual perspective with surround audio. These were the premises’ for the conception of this structure.</p>
    <p>For this to happen, it is necessary to have a space with its own life that is technically capable to receive both visitors and infrastructural equipment. One of its paramount features was to install it in other contexts too, be them festivals or, for example, urban locations, as well as its possible structural division.</p>
    <p>This project could only be possible with a fitting proficient team and that’s why I invited artist and architect <a class="link" href="https://anbarportfolio.tumblr.com/?fbclid=IwAR2s4wlI7p-kcoFl2_orGVckAtuoQBdGAW0Qk08E-oogcdbEh0SsnJbXRDU" target="_blank" >André Cruz<a/> and structure engineer expert <a class="link" href="https://www.linkedin.com/in/edgar-brito-25405810/?originalSubdomain=pt" target="_blank" >Edgar Brito<a/>.
    <p>The structure rises from a homogenous and cohesive language, where the hybrid composition of its shapes is patent. As the blown perspective shows: the proposal has a sitting and technical area supported by its main metal structure and a facade finishing compact panelling system. To sum up, its design follows its functionality and distinct demands whilst its main structure allows its potential and panelling fitting system.</p>
  </div>
</section>

<section>
  <div class="detail-specs">
  <strong><h3>CONSTRUCTION</h3></strong>
  <p>&nbsp;</p>
  <p>This project was born at the Art Residency FKA. It was performed and by the following artist at residency: <a class="link" href="http://www.inesmarita.ch/"  target="_blank">Ines Marita</a>, <a class="link" href="https://soundcloud.com/mby31" target="_blank" >Mariam Morshed</a>, <a class="link" href="https://www.zeynepaysehatipoglu.com/?fbclid=IwAR2by1ZfNBrSQIv52KWqNamikBfqLwYfPmAKdd2PCtLfi8B6ZSgnNroAWhw"  target="_blank">Zeynep Ayşe Hatipoğlu</a> and <a class="link" href="http://sandra.unmute.co.uk/?fbclid=IwAR3OKq3ny6nrCkKkgNFy0nO1YiANpaCdGNwPi_CGDlWc9K8uuifUcPNUpKY"  target="_blank">Sandra Ka</a>.</p>
  </div>

  <div>
    <h3>Technical details</h3>
    <p><strong>Materials</strong> to be considered according to performance location</p>
    <p><strong>Dimension</strong> set-up according to space provided</p>
    <p><strong>Duration</strong> circa 10’00’’ </p>

    <h3>exhibitions history</h3>
    <p><strong>2019.09.07</strong> FKA Sound Art Residency  Gutshaus Wüsten Buchholz [DE]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#" onClick="return jumpTo('space/research')">research</a>
  </div>
</section>
