<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>From|Form</h1>
    <h2>collaboration project with <a class="link" href="https://www.linkedin.com/in/lukedobbin/?originalSubdomain=uk" target="_blank">Luke dobbin</a></h2>
  </div>

  <div>
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/371643556?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>



  <div class="detail-specs">
    <p>&nbsp;</p>
  </div>

 <div>
  <p>&nbsp;</p>
  <p><strong style="color: #AAA"><i>Interpreting Xenaki's music through systems thinking, we can more profoundly understand his methodologies and resulting aesthetic values. This can inform us more about his music than a simple approach through mathematical formulae. Furthermore, a knowledge of the evolution of these theories can contribute to new applications in music.</i></strong></p>

    <p style="text-align:right">Phivos-Angelos Kollias, <i>extracts from Iannis Xenakis and Systems Thinking</i>, Proceedings of the <a class="link" href="https://www.gold.ac.uk/cmru/xenakis-international-symposium/" target="_blank">Iannis Xenakis Intern. Symp.</a> powered by Goldsmiths Uni., London: Southbank Centre, 2011</p>
 </div>

 <p>&nbsp;</p>
  <div class="detail-specs">

    <p><strong>How can form relate to sound?</strong></p>
  <p>From|Form is an interdisciplinary study project that explores how structural form correlates to the medium of sound.</p>
  </div>

  <p>&nbsp;</p>
  <div>
  <strong><h3>CONTEXT</h3></strong>
  <p>This is an integrative exploration of the common language shared in both Sound and Architecture.</p>
  <p>This study’s main focus is to examine the form of a selected structure/building and translate this same form to Sound through digital processes. As an extension of this, we wanted to highlight how perceptions of structures in physical reality can be warped by the <i>Duchampian</i> method of removal of context, placing the structure within a new set of boundaries and planes that relate to sound as opposed to physical material.</p>
  <p>The core project is a digital process that can be applied to multiple sonic methods, the main focus was on resynthesizing the form through additive synthesis, but can also be used to manipulate recorded sound, modular synthesis and even visuals.</p>
  <p>By connecting existing physical structures to the spectral domain, we thought about the experience of synthesia, and how different perceptions of sense are blurred together, which posed the question of how architectural experience could be included within a similar context.</p>
  <p>&nbsp;</p>
  </div>

   <div>
   <p><strong style="color: #AAA"><i>We are now in transition from object-oriented to a system-oriented culture. Here change emanates not from things, but from the way things are done.</i></strong></p>
   <p style="text-align:right">Jack Burnhams <i>in Systems Aesthetics</i>, 1968</p>
   </div>

   <p>&nbsp;</p>
   <div>
     <p>While the approaches of each practice diverge and evolve over time, modern digital tools grant greater connectivity between different fields than ever before, allowing us to directly branch between the worlds of architecture, sound and visuals for a possible discourse and awareness of their systems.</p>
     <p>Through this, we are able to examine pre-existing past forms, and think about how they can be adapted to new perceptions and expressions. Following <a class="link" href="https://en.wikipedia.org/wiki/Jack_Burnham" target="_blank" >Jack Burnhams<a/> work on <i>Systems Aesthetics</i> it could be said that the form of these structures lies not in its physical materials, but through the method they are structured.</p> <p>Through the process of separating the form of the structure from its physical materials and examining it, by extension it could be argued that it represents a distillation of the creators original language.</p>
     <p>&nbsp;</p>

     <strong><h3>CASE STUDY</h3></strong>

     <p>Our example explores the iconic <i>Munich Olympic Stadium</i> [1972] designed by <a class="link" href="https://en.wikipedia.org/wiki/Frei_Otto" target="_blank" >Frei Otto<a/> as a case study, chosen for its unique tensile form.
     <p>We were inspired by previous explorations of the commonalities shared by architecture and sound as a touchstone, such as the work of <a class="link" href="https://iannis-xenakis.org/xen/bio/biography.html" target="_blank" >Iannis Xenakis<a/>, but we sought to expand on the application of this methodology by retaining digital faithfulness to the original structure, keeping translation as exact as possible.</p>
     <p>This was accomplished by communicating data directly via OSC between architecture-focused software [Grasshopper] and sound focused software [Max 8]. </p>
     <p>Architecture practice makes use of cutting plans/sections for this analysis and understanding of buildings/structures shape and form - through plans and section drawings. Similarly to this procedure we can create with software a boundary representation positioned in a <i>matrixed</i> sonic space. This resulting curve alongside with its coordinates generates information that correlates both softwares with <i>data</i>. This <i>datadialogue</i> will then be converted to sonic material through resynthesis/additive synthesis by mapping and assigning each one of the axis XYZ to specific sonic features.</p>
    <p>&nbsp;</p>
   </div>
   <div>
    <h3>Technical details</h3>
    <p><strong>Materials</strong> 2x Computers, Modular Synthesizer, Audio-Mixer </p>
    <p><strong>Dimension</strong> variable</p>
    <p><strong>Duration</strong> variable [according model choosen]</p>
    <p><strong>Software</strong> Max MSP Rhino/Grasshopper</p>

    <h3>project history</h3>
     <p><strong>2019.09.02</strong> Shortlisted for <a class="link" href="https://www.redeye.org.uk/opportunities/drift-03-lowry"  target="_blank">Drift 0.3</a> artistic call at GROW, Manchester [UK]</p>

    </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#" onClick="return jumpTo('space/research')">reasearch</a>
  </div>
  </div>
</section>
