<section class="installation-detail" id="rockband">
  <div class="detail-titles">
    <h1>the rock band</h1>
    <h2>collaboration project started in <a class="link" href="http://www.fieldkitchen-academy.org/" target="_blank">FKA</a></h2>
  </div>

  <div class="detail-gallery">
    <img class="item-image" alt="rockband01" src="/resources/performance/rockband01.jpg" width="100%" height="auto"/>
    <p class="quote-caption">photo credits: ©Timo Nasseri</p>
  </div>

  <div class="detail-specs">
    <p>This project was born at the Art Residency FKA. It was performed and by the following artist at residency: <a class="link" href="http://www.inesmarita.ch/"  target="_blank">Ines Marita</a>, <a class="link" href="https://soundcloud.com/mby31" target="_blank" >Mariam Morshed</a>, <a class="link" href="https://www.zeynepaysehatipoglu.com/?fbclid=IwAR2by1ZfNBrSQIv52KWqNamikBfqLwYfPmAKdd2PCtLfi8B6ZSgnNroAWhw"  target="_blank">Zeynep Ayşe Hatipoğlu</a> and <a class="link" href="http://sandra.unmute.co.uk/?fbclid=IwAR3OKq3ny6nrCkKkgNFy0nO1YiANpaCdGNwPi_CGDlWc9K8uuifUcPNUpKY"  target="_blank">Sandra Ka</a>.</p>
    <h3>more information soon ...</h3>

    <h3>Technical details</h3>
    <p><strong>Materials</strong> to be considered according to performnce location</p>
    <p><strong>Dimension</strong> set-up according to space provided</p>
    <p><strong>Duration</strong> circa 10’00’’ </p>

    <h3>exhibitions history</h3>
    <p><strong>2019.09.07</strong> FKA Sound Art Residency  Gutshaus Wüsten Buchholz [DE]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#" onClick="return jumpTo('space/performance')">performance</a>
  </div>
</section>
