<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>sonuscape</h1>
    <h2>ARCHITECTURE AS A SONIC MEDIUM</h2>
  </div>
  
<div class="detail-specs">
    <p>&nbsp;</p>
    
  <div class="detail-gallery">
    <img class="item-image" alt="sonuscape00" src="/resources/sonuscape/sonuscape00.jpg" width="100%" height="auto"/>
  </div>
  <p>&nbsp;</p>
  <p><strong style="color: #AAA"><i>For several hundred years Western music has been based on composition and performance. Most attention has been focused on the conception and generation of sound, very little on its propagation. (...) No matter how complex a system of notation or how real the illusion of depth, written music is trapped on a flat plane.</i></strong></p>

    <p style="text-align:right">Alvin Lucier <i>in Careful Listening is More Important than Making Sounds Happen - The Propagation of Sound in Space</i>, c.1979</p>
    
</div>

 <p>&nbsp;</p>
  <div class="detail-specs">
    
    <p><strong>What if soundscapes could become real play/landscapes?</strong></p>
  <p>Sonuscape is a preliminary architectural design study of an hypothetical 3D Graphic Scores.</p>

  <p>&nbsp;</p>

  <strong><h3>CONTEXT</h3></strong>
      <p>John Cage published <a class="link" href="https://books.google.pt/books?id=jKkTAQAAIAAJ&dq=notations+john+cage&hl=pt-PT&sa=X&ved=0ahUKEwiZvKO438zoAhVICxoKHescBHUQ6AEIKDAA"  target="_blank">Notations</a> with A.Knowles in 1969. By inviting interdisciplinarity between various artistic expressions and techniques in the sonic realm various methods of communicating Sound were introduced, such as Graphic Scores. The presentation as well as interpretation of music gain a new perspective by opening music to this artistic spectrum. Various composers such as Elliot Carter, Steve Reich, Terry Riley and Cornelius Cardew gave major contributions to this paradigm and its artistic development and extensions.</p>

    <p>&nbsp;</p>

    <p><strong style="color: #AAA"><i>The future therefore belongs to the philophonics.</i></strong></p>
    <p style="text-align:right">Erik Satie <i>in Memories of an Amnesic (Fragments 1912-13)</i>, Paris, 15 April 1912</p>

    <p>&nbsp;</p>

     <p>Interdisciplinarity is analysed on a more recent edition of Graphic Score works.  In 2009 Theresa Sauer explores on her book <a class="link" href="https://books.google.pt/books/about/Notations_21.html?id=wmUJAQAAMAAJ&redir_esc=y"  target="_blank">Notations 21</a> a contemporary view of these compositional sketches on a globalized society. She displays an integrative approach framed by our media and globalized society that introduce us what might be a potential reflection of a new vocabulary in the <i>Sonography</i> scene [cfr. R. M. Schafer <i>in The Soundscape</i>, 1977].</p>
     <p>Sound Art took quite a leap when combined with visual arts; also architecture has been inherently presented as a visual art form. 
     The developed hegemony of vision in Western culture has been one of Juhani Pallasmaa’s reflection and analysis on his book <a class="link" href="https://books.google.pt/books/about/The_Eyes_of_the_Skin.html?id=VXUxwHx9wlQC&redir_esc=y"  target="_blank">The Eyes of the Skin</a>.
    <p> Through my shared vision in Pallasmaa’s concern on ‘the consequent disappearance of sensory and sensual qualities from the arts and architecture’, as well as his thoughts on architecture working as a medium for a phenomenological experience, SonuScape arose. This is a project study that explores the combination of sensorial awareness, where abstract sonic systems are transferred into an architectural realm, driven by the cross-pollinating, collaborative and integrative attitude introduced by Cage.</p>
</div>

  <strong><h3>CASE STUDY</h3></strong>
  <p>&nbsp;</p>
<div class="detail-gallery">
    <img class="item-image" alt="sonuscape02" src="/resources/sonuscape/sonuscape02.jpg" width="100%" height="auto"/>
  </div>
  <p style="text-align:center;padding:0 50px;">Hypothetical Graphic Score digital design for Edgar Varèse’s piece <i>Poème électronique</i> [first 60 sec.]</p>
  <div class="detail-sound">
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1571902303/size=small/bgcol=333333/linkcol=ffffff/track=1010450133/transparent=true/" seamless><a href="http://subrosalabel.bandcamp.com/album/an-anthology-of-noise-electronic-music-1">An Anthology Of Noise &amp; Electronic Music #1 by Edgard Varèse</a></iframe>
  </div>

  <div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong style="color: #AAA"><i>Music is not a language. Every musical piece is like a complex rock, formed by ridges and designs engraved within and without, that can be interpreted in a thousand different ways (...) By virtue of this multiple exegesis, music inspires all sorts of fantastic imaginings, like a Crystal catalyst.</i></strong></p>

    <p style="text-align:right">Iannis Xenakis <i>in Ditatope, pag.216</i>, 2006</p>
  </div>

  <div class="detail-specs">
    <p>&nbsp;</p>
     <p><strong>How to develop a design and sonic analysis process? From 2D to 3D.</strong></p>
     <p>In the first case study choosen I used an excerpt [first 60 seconds] of Edgar Varèse sound work <i>Poème Électronique</i> premiered in 1958 at the Brussels World Fair.</p>
     <p>What I developed was a design based on my own audio sketches of the sound piece and investigations on inspiring architectural precedents which I found to be relevant: such as urban furniture, art sculptures, on few post-war playgrounds, (…). Alongside this research I was also supported by <a class="link" href="https://en.wikipedia.org/wiki/Digital_audio_workstation"  target="_blank">DAW</a> software which enable me to forensically analyse the spectrogram and sonograph of the sonic work, as well as its panning. All these examples and their interpretation and cross-pollinations were crucial for me to scale, structure, distribute and map out objects in an hypothetical landscape.</p>
     <p>&nbsp;</p>
   </div>

   <div class="detail-gallery">
    <img class="item-image" alt="sonuscape03" src="/resources/sonuscape/sonuscape03.jpg" width="100%" height="auto"/>
  </div>
   <div> <p style="text-align:center;padding:0 50px;">SonuScape works as a synthesized playful and learning system, where one will be able to interact with each piece and trigger it.</p>
  </div>
  <div><p>&nbsp;</p>
  </div>
   
 <div class="detail-gallery">
    <img class="item-image" alt="sonuscape04" src="/resources/sonuscape/sonuscape04.jpg" width="100%" height="auto"/>
  </div>
   <div> <p style="text-align:center;padding:0 50px;">SonuScape suggestion of project display at Tate Modern's Turbine Hall. First case study: system interpretation of Varèse sound work <i>Poème Électronique</i></p>
   </div>
  
  <div>
  <p>&nbsp;</p>
  <p><strong style="color: #AAA"><i>All in all, the creative act is not performed by the artist alone; the spectator brings the work in contact with the external world by deciphering and interpreting its inner qualifications and thus adds his contribution to the creative act.</i></strong></p>

    <p style="text-align:right">Marcel Duchamp <i>in ‘The Creative Act’- Lecture at the Museum of Modern Art, New York</i>, October 19th, 1961</p>
  </div>



    <h3>Technical details</h3>
    <p><strong>Materials</strong> sculptural pieces designed mostly in cork and metal tubing; speakers and sensors to be revised according to design </p>
    <p><strong>Dimension</strong> variable</p>
    <p><strong>Duration</strong> variable [according to sound piece choosed]</p>
    <p><strong>Software</strong> DAW software for audio analysis, 3D architectural software [ Rhino6, CAD, ...], MaxMSP and Arduino for interactivity feature</p>

    <h3>project history</h3>
     <p><strong>2020.01.08</strong>  Project featured in Future Architecture <a class="link" href="http://futurearchitectureplatform.org/projects/0f0a46c9-ad2b-4a52-8302-dcd6eeb9d6e5/?fbclid=IwAR2T41S0Dg_ZfbfZ5a5LnW0OeAJp51iICIp8eWQzvdwhzRrWe3gKihZWbfE"  target="_blank">Platform</a></p>
     <p><strong>2019.04.06</strong>  Guest Lecturer at <a class="link" href="https://www.facebook.com/events/1998605223774205/"  target="_blank">Sonic Arts Forum</a> Huddersfield University [UK]</p>
     <p><strong>2018.06.03 - 06.14</strong>  Shortlisted and Premiered - Sound Art Exhibition  Morley Gallery, London [UK]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#research" onClick="goTo(this, 'research')">reasearch</a>
  </div>
  </div>
</section>
