<section id="radio">
  <div class="radio-block">
    <h1>2014 | 2015 &bull; index</h1>
    <p>Index was a weekly Radio-show with live broadcast weekly at <a class="link" href="https://www.ruc.pt/" target="_blank">RU(</a> radio at 107.9 fm or online. </p>
    <p>It focused on electronic music and  urged quickly after Metrónomo Radio-show. Me and Irina Grade decided to maintain the same solid team as its antecessor adding a new member to it: Ian Ezerin. The show allowed everyone’s personal choice on the electronic scene: diversity was the goal.</p>
    <p>Please follow the link for more info: <a class="link" href="http://www.https://www.mixcloud.com/INDEXRUC/" target="_blank">INDEX</a></p>

    <div class="radio-playlist">
      <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FINDEXRUC%2Findex30%2F" frameborder="0" ></iframe>
    </div>
  </div>

  <div class="radio-block">
    <h1>2013 | 2014 &bull; metrónomo</h1>
    <p>Metrónomo was a weekly broadcast live Radio-show hosted by Irina Grade and me on <a class="link" href="https://www.ruc.pt/" target="_blank">RU(</a> radio at 107.9 fm or online. </p>
    <p>It was mostly focused on electronic dance music. It was ‘on air’ for nearly a year inviting Afonso Macedo and Roberto Mortágua to join us nearly at its end.</p>
    <p>Please follow the link for more info: <a class="link" href="http://www.mixcloud.com/metronomoruc/" target="_blank">METRÓNOMO</a></p>

    <div class="radio-playlist">
      <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fmetronomoruc%2Fmetr%C3%B3nomo10%2F" frameborder="0" ></iframe>
    </div>
  </div>

  <div class="radio-block">
    <h1>2011 &bull; rádio bambaataa</h1>
    <p>This Radio-show was broadcast on a weekly basis [ live @ <a class="link" href="https://www.ruc.pt/" target="_blank">RU(</a> ] and was focused on music production that would relate to or influenced by Kevin Donovan’s work, who entitled himself as Afrika Bambaataa. This project allowed me to open a more wide perspective on  this influential scene.</p>
    <p>Please follow the link for more info: <a class="link" href="https://www.facebook.com/radiobambaataa/" target="_blank">RÁDIO BAMBAATAA</a></p>
  </div>

  <div class="radio-block">
    <h1>2008 | 2011 &bull; origami</h1>
    <p>After few years practising as a radio technician I decided to explore the radio hosting experience: Origami was the first Radio-show I hosted. Radio <a class="link" href="https://www.ruc.pt/" target="_blank">RU(</a> dedicated two hours of electronic dance music to the Origami listeners every working day. Alongside a great team of people, I was invited to develop my skills as radio broadcaster on a live show and share my choices on this electronic scene.</p>
    <p>Please follow the link to explore a few of them: <a class="link" href="http://origamiruc.blogspot.com/search?q=liliana+carvalho&updated-max=2009-03-13T17:28:00Z&max-results=20&start=40&by-date=false&token=Cjb_AL_h7LaAAP8A_wD___73grlgy__-5KbOz8zGyc_Py8XNy8rOxs3Gyc7JyMvOx8_Hy8rI__4QKCEA8mILMHGwIFAAWgsJa4Ka2_mtRXsQA2D8qsqLBA%3D%3D" target="_blank">ORIGAMI </a></p>
  </div>
</section>
