<section id="releases">
  <div class="about-block">
    <div>
      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2052674698/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=1080700843/transparent=true/" seamless><a href="https://fieldkitchenacademy.bandcamp.com/album/silence-with-the-consent-of-sound">Silence With The Consent Of Sound by Field Kitchen Academy</a></iframe>
    </div>

    <div><p>&nbsp;</p></div>

    <div>
      <h1 style="text-align:right">2020 &bull; dis.quiet</h1>
      <p style="text-align:right">Sound recordings composition produced during the sound art educational residency <a class="link" href="http://www.fieldkitchen-academy.org/listening-room-2019" target="_blank">FKA</a> [DE] in the Summer of 2019. A particular day was assigned to each participant to make a 90 seconds of recording. This is my contribution to this serie of recordings that act as an audio catalogue and a log book, which will be pressed into a vinyl entitled Silence with the Consent of Sound.</p>
      <p style="text-align:right">Released on the 7th, October 2020 supported by <a class="link" href="https://www.transartists.org/air/ground-ev" target="_blank">Ground e.V.</a></p>
      <p style="text-align:right">Soundscape composition as a result of site-relational experience through field recordings made at Wüsten-Buchholz. </p>
    </div>
  </div>

    <div><p>&nbsp;</p></div>

  <div class="about-block">
    <div>
      <iframe style="border: 0; width: 350px; height: 555px;" src="https://bandcamp.com/EmbeddedPlayer/album=2155202645/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://sonospace.bandcamp.com/album/para-ti">Para-Ti by Liliana Carvalho</a></iframe>
    </div>

    <div><p>&nbsp;</p></div>

    <div>
      <h1 style="text-align:right">2019 &bull; para-ti</h1>
      <p style="text-align:right">Sound recordings made whilst visiting Paraty [BR] in 2018. I invited my dear friend artist Catarina Bota Leal to collaborate with me on this work.</p>
      <p style="text-align:right">Released on the 5th, November 2019 in <a class="link" href="https://sonospace.bandcamp.com/music" target="_blank">Sono Space</a> label. </p>
      <p style="text-align:right">Sonic composition and edition by Liliana Carvalho. </p>
      <p style="text-align:right">Art cover design and composition by fine artist Catarina Bota Leal.</p>
    </div>
  </div>
</section>
