<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>liquid threshold #1</h1>
    <h2>collaboration project with <a class="link" href="https://www.ali-m.de/" target="_blank">ali m. demirel</a> and <a class="link" href="http://www.samfriedland.com/?fbclid=IwAR0AIDZNmCaoCe1eVa92MVuoCJ9CG9G4ZR_jH-1fQqckuLTacWyDxGJPvvA" target="_blank">sam friedland</a></h2>
  </div>

  <div class="detail-gallery">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kENxrUqo0AI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="detail-specs">
    <p>&nbsp;</p>
    <p>This work explores Water's sonic verge/edge. It is the first episode of its series.</p>
    <p>The idea of a fringe between two possible dimensions or states of an element came up in <a class="link" href="http://www.fieldkitchen-academy.org/"  target="_blank">FKA</a> residency when considering the concept of Silence as a threshold: its expression can be found in many ways in different contexts, in a composition it works as variation of state/status, as an event of alternation.</p>
    <p>Liquid Threshold#1 examines water sounds in two different states/spaces, the border of a possible inception. This work presents the under and over Water and its sonic depth. The space in between finds its expression through Video and the exhibiting room/place.</p>
    <p>Video screening and the exhibition room/place works as the mediator that connects both dimensions.</p>

    <h3>Technical details</h3>
    <p><strong>Materials</strong> 2 speakers with SSD card incorporated looping recorded sound piece synchronised 1 video projector, 1 iron pipe (underwater effect for one of the speakers), 1 ceiling hanger</p>
    <p><strong>Dimension</strong> variable</p>
    <p><strong>Duration</strong> 22’37’’ ∞</p>

    <h3>exhibitions history</h3>
    <p><strong>2019.08.30</strong>  FKA Sound Art Residency  Gutshaus Wüsten Buchholz [DE]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#installations" onClick="goTo(this, 'installations')">installations</a>
    <a class="link" href="#performances" onClick="goTo(this, 'performances')">performances</a>
    <a class="link" href="#research" onClick="goTo(this, 'research')">reasearch</a>
  </div>
</section>
