<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>stratum</h1>
    <h2>collaboration project with music producer <a class="link" href="https://www.facebook.com/pg/Ruidouk/about/?ref=page_internal" target="_blank">ruido</a></h2>
  </div>

  <div class="detail-gallery">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PatqZRqLaRM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="detail-specs">
    <p>&nbsp;</p>
    <p><strong style="color: #AAA"><i>When I hear what we call music, it seems to me that someone is talking. And talking about his feelings, or about his ideas of relationships. But when I hear traffic, the sound of traffic [...] I don’t have the feeling that anyone is talking. I have the feeling that sound is acting.</i></strong></p>

    <p style="text-align:right">John Cage <i>in interview with Miroslav Sebestik</i>, 1991. From: Listen, documentary by Miroslav Sebestik. ARTE France Développement, 2003</p>
    <p>&nbsp;</p>
    <p>Our quotidian sounds are our personal field recordings engaging oneself on an  experience of  soundscape in realtime.  The sound  layers/samples you find on every different corner in every different street are the colour palette that design and paint an empty canvas.Assuming  this analogy of walking streets and crossing quarters when one reflects of the different layers that  synchronize along each path we choose to take/each sounds we choose to ear, one can compose  with these layers and create their own soundscapes  - we live surrounded by these Stratums.</p>
    <p>Stratum is an integral scuplture of light, sound and spatial design that aims to engage you as a  listener and acknowledge music exploring the allure art of layering to build-up a new composition. Its translucent sheets with LED lights fitted displayed in the dark room design a suggestive path and also allow a visual interface with the sounds playing in the background due to their synchronized feature.  The sound in presented as a layered system.</p>
    <p>The sound performs and creates an aural experience to oneself enhanced by its mirrored perimeter walls that allow an acoustic resonance soundscape in a continuum space. The main goal is to create an intimate and introspective sonic experience that allows an awareness of the constant interplay between Sound and Space.</p>
    <p>This project was shortlisted and premiered at Morley Gallery in London, UK.</p>

    <h3>Technical details</h3>
    <p><strong>Materials</strong> 1 MDF board Flame Retardant Class C (30min) 3,050 x 1,220m with 25mm thick. to be cut in ribs and use as structural base, 9 x 4m total blackout lining fabric, 4 x 4m black organza fabric, 2 acrylic mirored pexiglass, 4 LED strips, connected to electric circuit to react to each triggered sample, computer  and audio mixer</p>
    <p><strong>Dimension</strong> 1.2 x 3.5 x 2.1 m [project adaptation for space provided by gallery]</p>
    <p><strong>Duration</strong> 3’36’’ ∞</p>

    <h3>exhibitions history</h3>
    <p><strong>2017.05.04 - 06.01</strong>  International <a class="link" href="http://www.eventbox.ir/engine-room-international-sound-art-exhibition" target="_blank">Sound Art</a> Exhibition, Morley Gallery, London [UK]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#installations" onClick="goTo(this, 'installations')">installations</a>
  </div>
</section>
