<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>memory swing</h1>
    <h2>collaboration project with <a class="link" href="http://www.timonasseri.com/" target="_blank">timo nasseri</a></h2>
  </div>

  <div class="detail-gallery">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xjlvG_YEoJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="detail-specs">
    <p>Memory Swing is a place. Memory Swing is a space in your own childhood. It is where Sound occupied Space on that frame of time in your life.</p>
    <p>Following the <a class="link" href="http://www.fieldkitchen-academy.org/"  target="_blank">FKA</a> residency focus on Silence, this sound art installation questions on how can a memory act as a silent perk on our lives. Inspired on Max Neuhaus <a class="link" href="https://www.yumpu.com/en/document/read/37635338/a-conversation-between-max-neuhaus-and-ulrich-loock-milan-"  target="_blank">concept of space</a> becoming a medium of creation turned into a place, I recall to memory as place and swing as its the physical space.</p>
    <p>In my childhood we could spend hours playing on a swing, just swaying back and forth and with nothing on our minds to worry about: it was quite a silent place where your movement’s pace would set and position you in space. This installation aims to echo that childhood alike setting and feeling.</p>
    <p>Each one of the residents in FK Sound Art Residency shared and contributed with a sonic memory to make this piece possible. These recordings were playing in loop whilst the visitor could sit on the swing and listen to them, projected from a directional speaker channel from above.</p>

    <h3>Technical details</h3>
    <p><strong>Materials</strong> 1 speaker with SSD card incorporated looping recorded sound piece, 4 x 8m fabric to produce swing,  2 plastic pipes (1 for bench production; 1 to work has directional set out for speaker)</p>
    <p><strong>Dimension</strong> variable</p>
    <p><strong>Duration</strong> 21’56’’ ∞</p>

    <h3>exhibitions history</h3>
    <p><strong>2019.08.30</strong> FKA Sound Art Residency  Gutshaus Wüsten Buchholz [DE]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#" onClick="return jumpTo('space/installations')">installations</a>
  </div>
</section>
