<section class="installation-detail" id="liquidthreshold">
  <div class="detail-titles">
    <h1>xnx</h1>
    <h2>collaboration with music producer <a class="link" href="https://www.facebook.com/xnx.music/" target="_blank">xnx</a></h2>
  </div>

  <div class="detail-gallery">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TYH8Tk3fQ48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="detail-specs">
    <p>&nbsp;</p>
    <p><strong style="color: #AAA"><i>Order is repetition of units. Chaos is multiplicity without rhythm.</i></strong></p>

    <p style="text-align:right">M.C. Escher</p>
    <p>&nbsp;</p>
    <p>The concept behind XNX music is to create a <i>chaotic sonic bubble</i>.  Whilst collaborating with <a class="link" href="https://vimeo.com/soniclaboratory" target="_blank">SonicLab</a> collective the invitation to design a  spatial proposal that would cunningly expressed this sonic statement urged parallel to his album launch.</p>
    <p>This sonic installation featured and premiered at <a class="link" href="https://www.festivalsemibreve.com/"  target="_blank">Semibreve</a> the electronic music and digital art festival on its 2014 edition, alongside works such as <i>Stroboscope and Linn LM-1</i> from Mark Fell.</p>
    <p>In the provided room and with a tight budget, the project design displayed a labyrinthic route to immerse the listeners in a sonic maze. To emphasise this layout and its intricacy the illumination given was a synchronized light strobe that reacted to the XNX’s music continuously playing in the background.</p>
    <p>Photo report from this event can be found <a class="link" href="https://www.flickr.com/photos/rtppt/15492373756/in/photostream/lightbox/"  target="_blank">here</a></p>

    <h3>Technical details</h3>
    <p><strong>Materials</strong> 15m x 4m total blackout lining fabric, 30mx 4m black plain weave sheer fabric, 1 LED strobelight with XLR input, 4 speakers</p>
    <p><strong>Dimension</strong> 5.30 x 11.0 x 2.4 m [project adaptation for room at GNRation building]</p>
    <p><strong>Duration</strong> 79’56’’ ∞</p>

    <h3>exhibitions history</h3>
    <p><strong>2014.10.10 - 10.12</strong>  Festival Semibreve, GNRation Building, Braga  [PT]</p>
  </div>

  <div class="detail-links">
    <a class="link" href="/">home</a>
    <a class="link" href="#" onClick="return jumpTo('space/installations')">installations</a>
  </div>
</section>
