<section id="installations">
  <div class="installations-block">
    <div class="gallery-item cta" onClick="return jumpTo('space/installations/liquidthreshold')">
      <img class="item-image" alt="Liquid Threshold" src="/resources/installations/liquid_threshold01.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/installations/liquidthreshold.html" class="item-title">liquid threshold</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/installations/memoryswing')">
      <img class="item-image" alt="Memory Swing" src="/resources/installations/memory_swing.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/installations/memoryswing.html" class="item-title">memory swing</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/installations/dof')">
      <img class="item-image" alt="DOF" src="/resources/installations/dof.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/installations/dof.html" class="item-title">dof</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/installations/stratum')">
      <img class="item-image" alt="Stratum" src="/resources/installations/stratum.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/installations/stratum.html" class="item-title">stratum</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/installations/xnx')">
      <img class="item-image" alt="XNX" src="/resources/installations/xnx.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/installations/xnx.html" class="item-title">xnx</a>
      </div>
    </div>

    <div class="gallery-item" style="visibility: hidden;margin:0; height: 0">&nbsp;</div>
  </div>
</section>
