<section id="installations">
  <div class="installations-block">

    <div class="gallery-item cta" onClick="return jumpTo('space/performance/rockband')">
      <img class="item-image" alt="rockband" src="/resources/performance/rockband.jpg" />
      <div class="item-title-container"><span class="item-title"></span></div>
      <div class="item-title-container">
        <a href="/partials/space/performance/rockband.html" class="item-title">the rock band</a>
      </div>
    </div>

    <div class="gallery-item" style="visibility: hidden;margin:0; height: 0">&nbsp;</div>
  </div>
</section>
