<section id="installations">
  <div class="installations-block">
    <div class="gallery-item cta" onClick="return jumpTo('space/research/sonuscape')">
      <img class="item-image" alt="SONUSCAPE" src="/resources/research/sonuscape.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/research/sonuscape.html" class="item-title">sonuscape</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/research/sot')">
      <img class="item-image" alt="SONUSCAPE" src="/resources/research/sot.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/research/sot.html" class="item-title">sound of trees</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/research/sff')">
      <img class="item-image" alt="sound from form" src="/resources/research/sff.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/research/sff.html" class="item-title">sound from form</a>
      </div>
    </div>

    <div class="gallery-item cta" onClick="return jumpTo('space/research/sensorium')">
      <img class="item-image" alt="sensorium" src="/resources/research/sensorium.jpg" />
      <div class="item-title-container">
        <a href="/partials/space/research/sensorium.html" class="item-title">sensorium</a>
      </div>
    </div>

    <div class="gallery-item" style="visibility: hidden;margin:0; height: 0">&nbsp;</div>
  </div>
</section>
